:root {
    /* Color Palette - Tema Oscuro Rústico (Dorado) */
    --color-primary: #d4af37;
    --color-primary-hover: #b9942a;
    --color-bg-light: #1c1917;
    --color-bg-dark: #151311;
    --color-surface-light: #292524;
    --color-surface-dark: #1c1917;

    /* Text Colors */
    --text-main-light: #fafaf9;
    --text-main-dark: #202020;
    /* off-white */
    --text-sec-light: #a8a29e;
    /* muted gray */
    --text-sec-dark: #9ca3af;
    /* gray-400 */

    /* Borders */
    --border-light: #44403c;
    /* dark border */
    --border-dark: #292524;
    /* gray-800 */

    /* Spacing & Sizing */
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.75rem;
    --radius-full: 9999px;
    --radius-xl: 0.75rem;

    /* Fonts */
    --font-main: 'Work Sans', sans-serif;
}